.card-container {
    max-width: 300px;

    .card-image {
        position: relative;
        display: flex;
        user-select: none;
        overflow: hidden;
        height: 300px;
        cursor: pointer;

        img {
            width: 100%;
            object-fit: cover;
            // border: 1px solid #000;
            transition: 0.5s;

            &:hover {
                transform: scale(1.15);
            }
        }

        .icon {
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            padding: 5px;
            border-radius: 50%;
            border: 1px solid #333;
            cursor: pointer;
        }
    }

    .card-detail {
        margin-top: 15px;

        .intro {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .name {
                font-size: 20px;
                font-weight: 500;
            }

            .price {
                position: relative;

                span:first-child {
                    position: absolute;
                    font-size: 13px;
                    left: -10px;
                }

                span:last-child {
                    font-size: 20px;
                }
            }
        }

        .detail {
            margin-top: 6px;

            span {
                font-size: 15px;
                color: #514f4e;
            }
        }

        .review {
            display: flex;
            align-items: center;
            margin-top: 5px;

            .icon {
                display: flex;
            }

            span {
                margin-left: 5px;
                font-size: 14px;
                color: #514f4e;
            }
        }

        .add-btn {
            display: inline-block;
            margin-top: 10px;
            padding: 12px 20px;
            border: 1px solid #3e3b3c;
            border-radius: 20px;
            user-select: none;
            cursor: pointer;

            &:hover {
                color: #fff;
                background-color: #0c3e29;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}
