.result-container {
    .body-section {
        padding: 0 277px;
        margin-top: 10px;

        .banner-section {
            img {
                width: 100%;
                height: 400px;
            }
        }

        .category-section {
            margin-top: 60px;

            span {
                font-size: 25px;
                font-weight: 500;
            }

            .category-wrapper {
                display: flex;
                align-items: center;
                margin-top: 20px;

                .left-section,
                .right-section {
                    width: 100%;

                    .list-category-container {
                        position: relative;
                        width: 100%;
                        margin-bottom: 30px;
                        cursor: pointer;

                        img {
                            height: 60px;
                            width: 100%;
                            object-fit: cover;
                            opacity: 0.7;
                        }

                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                .left-section {
                    margin-right: 15px;
                }

                .right-section {
                    margin-left: 15px;
                }
            }
        }

        .option-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px;

            .right-section {
                display: flex;
                align-items: center;

                .list-item {
                    display: flex;
                    align-items: center;
                    padding: 10px 15px;
                    background-color: #eaedec;
                    border-radius: 20px;
                    margin-right: 20px;
                    cursor: pointer;

                    .icon {
                        display: flex;
                        margin-left: 10px;
                    }
                }
            }

            .left-section {
                .sort {
                    display: flex;
                    align-items: center;
                    padding: 10px 15px;
                    border-radius: 20px;
                    border: 2px solid #eaedec;

                    .icon {
                        display: flex;
                        margin-left: 10px;
                    }
                }
            }
        }

        .product-section {
            margin-top: 40px;

            span {
                font-size: 25px;
                font-weight: 500;
            }

            .product-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                gap: 40px;
                margin-top: 35px;
            }
        }

        .pagination-btn {
            display: flex;
            justify-content: flex-end;
            margin-top: 40px;

            button:last-child {
                margin-left: 30px;
            }
        }
    }
}
